# Ruby specific
*.gem
*.rbc
/.bundle/
Gemfile.lock

# Documentation
/.yardoc/
/_yardoc/
/doc/

# Test coverage
/coverage/
/spec/reports/

# Build and temporary files
/pkg/
/tmp/
.rspec_status

# Binary files (allow only console and setup)
/bin/*
!/bin/console
!/bin/setup
!/bin/publish

# OS specific
.DS_Store

task-manager
